.logo-bar {
  height: 100px;
}
.logo {
  font-size: 4rem;
}
.second-nav {
  font-weight: 800;
}
.nav-3 {
  text-transform: uppercase;
}
.opinion-col {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 0.8 rem;
  height: fit-content;
}
.opinion-col img,
.opinion-col .right img {
  width: 100%;
  align-self: center;
}
.opinion-col div p {
  margin-bottom: 0;
}
.opinion-col .card-body {
  padding: 5px 10px;
}
.logo-signup {
  background: url("https://g.newsweek.com/www/images/logo-n1.svg")
    center/contain no-repeat #f72210;
}
.card-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.signup {
  max-height: 280px;
  overflow: hidden;
}
