.logo-bar {
  height: 100px;
}
.logo {
  font-size: 4rem;
}
.second-nav {
  font-weight: 800;
}
.nav-3 {
  text-transform: uppercase;
}
.opinion-col {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 0.8 rem;
  height: fit-content;
}
.opinion-col img,
.opinion-col .right img {
  width: 100%;
  align-self: center;
}
.opinion-col div p {
  margin-bottom: 0;
}
.opinion-col .card-body {
  padding: 5px 10px;
}
.logo-signup {
  background: url("https://g.newsweek.com/www/images/logo-n1.svg")
    center/contain no-repeat #f72210;
}
.signup {
  max-height: 280px;
  overflow: hidden;
}
.signup-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.signup-header div {
  min-height: 40px;
}
.small-font {
  font-size: 0.9rem;
}
.no-pad {
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
.grid-hero {
  display: grid;
  grid-template-rows: 75% 25%;
}
.grid-hero img {
  min-height: 38vh;
  align-self: stretch;
}
.rel {
  position: relative;
}
.rel :nth-child(2) {
  position: absolute;
  top: 6%;
  left: 20%;
}
#newsletter-div {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5")
    center center / cover no-repeat;
}
li {
  list-style: none;
  padding: 0px 5px;
  cursor: pointer;
}
